/*  
Author: Benjamin Lucky
Theme: Restuarant food Order
Version: 1.0

*/


/* Css for All Navbar Section */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    margin: 0 auto;
    border: 1px solid red;
    width: 80%;
    padding: 1%;
}


.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}

.btn-primary{
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #c0392b;
}

a{
    color: #e74c3c;
    text-decoration: none;
}

a:hover{
    color:#c0392b;
}

/* Css for Navbar Section */


.logo{
    border: 1px solid black;
    width: 10%;
    float: left;
}

.img-responsive{
    width: 100%;
}

.menu{
    line-height: 60px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS for food search section*/

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border:none;
    outline: none;
    border-radius: 3px;
}
